/* Navbar*/
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(image/jumbotron.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.1),rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4{
    color: white;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 31px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

.jumbotron .cool  {
    color: white;
    margin-top: 50px;
    font-weight: 50;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 24px;
    margin-bottom: 30px;
}

/*working space */
.workingspace  {
    float: left;
    margin: 200px;
}

.workingspace h3 {
    transform-origin: top right;
    margin-right: 3rem;
    color: #ACACAC;
    margin-bottom: 60px;
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 30px;

}

/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

/* Desktop Version */
@media (min-width: 992px) { 
    .navbar-brand, .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }
  
    .nav-link:hover::after {
    content:'';
    display: block;
    border-bottom: 3px solid #0B63DC;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
    }
    
    .jumbotron {
        margin-top: -75px;
        height: 690px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }
   
 }